---
# Install Apache using default package list
- name: Install Apache server
  become: yes
  apt:
    name: "{{ apache_packages }}"   # Comes from defaults/main.yml
    state: present
    update_cache: yes
  notify: restart apache            # Run handler only if package changes

# Make sure Apache is running and starts on boot
- name: Ensure Apache is running
  become: yes
  service:
    name: apache2
    state: started     # Start now
    enabled: yes       # Start automatically on boot

# Deploy custom index.html from template
- name: Deploy index.html
  become: yes
  template:
    src: index.html.j2             # Our template file
    dest: "{{ web_dir }}/index.html" # Install to /var/www/html
    mode: '0644'
  notify: restart apache           # Restart only if file changed
