---
- name: Allow SSH
  ufw:
    rule: allow
    port: "22"

- name: Allow HTTP
  ufw:
    rule: allow
    port: "80"

- name: Allow HTTPS
  ufw:
    rule: allow
    port: "443"

- name: Enable UFW
  ufw:
    state: enabled
    enable: yes
